.academy-product-note-modal__content {
  padding: 12px 20px;

  .mt-textarea {
    margin-bottom: 0;

    .mt-field-label {
      margin-left: 2px;
    }

    .mt-textarea__textarea {
      padding: 9px;
    }
  }
}
